:root {
  --gloal-bg: #145b9b;
  --global-textcolor: #fff;
  --font-roboto: "Roboto Slab", Arial, Helvetica, sans-serif;
  --font-mont: "Montserrat", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  height: 100%;
}

body {
  background-color: var(--gloal-bg);
  font-family: var(--font-roboto);
  color: var(--global-textcolor)
}

.wrap {
  align-items: center;
  display: flex;
  justify-content: center;
}

.about {
  padding-left: .938rem;
  padding-right: .938rem;

}

.about-title {
  --about-title-sizetext: 8vw;

  font-family: var(--font-mont);
  font-size: var(--about-title-sizetext);
}

.about-text {
  --about-text-sizetext: 5vw;

  font-size: var(--about-text-sizetext);
}

.about-links {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  position: relative;
}

.about-links::before {
  content: '';
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  background-color: var(--global-textcolor);
}

.about-links-describe {
  --about-lindesc-sizetext: 5vw;

  font-size: var(--about-lindesc-sizetext);
}

.about-links a {
  --about-link-sizetext: 8vw;

  color: var(--global-textcolor);
  display: inline-block;
  font-size: var(--about-link-sizetext);
  margin-top: 0.500rem;
  padding-right: 0.625rem;
  opacity: 1;
  transition: opacity .4s ease-in;
}

.about-links a:hover,
.about-links a:active,
.about-links a:focus {
  opacity: .50;
  transition: opacity .15s ease-out;
}

@media screen and (min-width: 576px) {
  .about-title {
    --about-title-sizetext: 6vw;
  }

  .about-text {
    --about-text-sizetext: 4vw;
  }

  .about-links-describe {
    --about-lindesc-sizetext: 4vw;
  }

  .about-links a {
    --about-link-sizetext: 5vw;
  }

}


@media screen and (min-width: 768px){
  .about-title {
    --about-title-sizetext: 2.625rem;
  }

  .about-text {
    --about-text-sizetext: 1.25rem;
  }

  .about-links::before {
    left: 50%;
    transform: translate(-50%);
  }

  .about-links {
    text-align: center;
  }

  .about-links-describe {
    --about-lindesc-sizetext: 1.25rem;
  }

  .about-links a {
    --about-link-sizetext: 32px;
    padding-left: 0.625rem;
  }
}